services:
  ocr-web:
    build: .
    container_name: ocr_web
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
      - ./logs:/app/logs
    restart: unless-stopped
    tty: true