pytesseract==0.3.10
pdf2image==1.17.0
PyMuPDF==1.24.0
ocrmypdf==15.1.0
paddleocr==2.7.0.3
python-doctr==0.7.0
pillow==10.0.0
opencv-python==4.8.0.74
torch==2.0.1
torchvision==0.15.2
numpy==1.24.3
huggingface-hub==0.20.1
transformers==4.36.2
